<div class="container-fluid" style="width: 28vw;">
  <h3>Sign in</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="username"
             formControlName="username" #nameRef
             >
      <!-- <div [hidden]="username.errors?.valid || username.errors?.pristine"
           class="alert alert-danger">
        Name is required
      </div> -->

      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"
             formControlName="password"
             >
      <!-- <div [hidden]="password.errors?.valid || password.errors?.pristine"
           class="alert alert-danger">
        Password is too short
      </div> -->

      <div *ngIf="errorMessage.length > 0" class="text-danger">
          {{errorMessage}}
      </div>
    <div class="mt-2">
      <button type="submit" [disabled]="!profileForm.valid" class="btn btn-success mx-auto">Sign in</button>
    </div>
    <div (click)="toSignUp()" class="toclick">Don't have an account?Register here</div>
  </form>
</div>
