<div class="container-fluid">
  <h2>List of Students</h2>
  <div class="row" style="margin-bottom: 25px;">
    <div class="col-sm-3">
      <input #searchBox id="search-box" placeholder="search students"
        [(ngModel)]="key"
         class="form-control" (input)="searchStudent(searchBox.value)" />
    </div>
    <div class="col-sm-5"></div>
    <div class="col" style="display: flex; justify-content: flex-end; margin-right: 5vw;">
      <button
        *ngIf="role === 1"
        class='btn btn-primary' style="margin-right: 10px;" (click)='this.changePath.emit(2)'>
        Create new
      </button>
      <button class="btn btn-outline-danger" (click)='this.logOut()'>Sign out</button>
    </div>
  </div>

  <table class="table table-striped table-bordered">
      <tr>
          <th>Image</th>
          <th>Student Name
            <button class="btn ml-0" (click)="sortStudents()">⇓⇑</button>
          </th>
          <th>Age</th>
          <th>Gender</th>
          <th>Blood Group</th>
          <th></th>
      </tr>

      <tr *ngFor="let item of students$ | async">
          <td>
              <img *ngIf="item.Image" src="https://localhost:44318/Photos/{{item.Image}}"
               alt="{{item.Image}}" width=30 height=40/>
          </td>
          <td>
              {{item.StudentName}}
          </td>
          <td>
              {{item.Age}}
          </td>
          <td>
              {{item.Gender === 0 ? 'Male' : 'Female'}}
          </td>
          <td>
              {{item.BloodGroup | bloodType}}
          </td>
          <td>
            <div>
              <button *ngIf="role === 1" class='btn btn-success' style="margin-right: 10px;" (click)=toUpdatePage(item)>Update</button>
              <button class='btn btn-info' style="margin-right: 10px;" (click)=toDetailPage(item)>Details</button>
              <button *ngIf="role === 1" class='btn btn-danger' (click)=toDeletePage(item)> Delete</button>
            </div>
          </td>
      </tr>
  </table>
</div>
