<div class="container-fluid">
  <h2>List of Students</h2>
  <div class="row" style="margin-bottom: 25px;">
    <div class="col-sm-3">
      <input #searchBox id="search-box" placeholder="search students"
        [(ngModel)]="key"
         class="form-control" (input)="searchStudent(searchBox.value)" />
    </div>
    <div class="col-sm-5"></div>
    <div class="col" style="display: flex; justify-content: flex-end; margin-right: 5vw;">
      <button
        *appHighlighter="true"
        class='btn btn-primary' style="margin-right: 10px;" (click)='this.changePath.emit(2)'>
        Create new
      </button>
      <button class="btn btn-outline-danger" (click)='this.logOut()'>Sign out</button>
    </div>
  </div>
     <app-list [students$]="students$" (toDetailPage)="toDetailPage($event)" (sortStudents)="sortStudents()"
               (toUpdatePage)="toUpdatePage($event)" (toDeletePage)="toDeletePage($event)"
     >
    </app-list>
</div>
